<div class="row">
    <div class="col-sm-12 col-md-6 d-flex">
    <h1>Customers&nbsp;&nbsp;&nbsp;&nbsp;</h1> 
</div>
<div class="card">
    <div class="row">
    <div class="card-header d-flex">
        <div class="dt-buttons btn-group flex-wrap">
            <a [routerLink] = "['add']" class="btn btn-primary">Add New Customer</a></div>
    <div class="col-sm-12 col-md-8 d-flex justify-content-md-end">
        <input type="search" placeholder="Find your course" class="form-control w-px-250 kanban-add-board-input mb-6">
        <button type="submit" class="btn btn-primary btn-icon"><i class="bx bx-search bx-md"></i></button>
      </div>
    </div>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th><input type="checkbox"></th>
            <th>Customer Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Mobile</th>
            <th>Date of Birth</th>
            <th>Email Address</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr *ngFor="let customer of customerList">
            <th><input type="checkbox"></th>
            <td><a [routerLink]="['view',customer._id]">{{customer._id}}</a></td>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.phoneNumber}}</td>
            <td>{{customer.dob}}</td>
            <td>{{customer.emailAddress}}</td>
            <td>
              <span *ngIf = "customer.isactive" [ngClass]="customer.isactive ? 'badge me-1 bg-label-primary': 'badge me-1 bg-label-danger'">
               Active
              </span>
              <span *ngIf = "!customer.isactive" [ngClass]="customer.isactive ? 'badge me-1 bg-label-primary': 'badge me-1 bg-label-danger'">
                Inactive
               </span>
            </td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="bx bx-edit-alt me-1"></i> Edit</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="bx bx-trash me-1"></i> Delete</a
                  >
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>