<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="index.html" class="app-brand-link">
        <span class="app-brand-logo demo">
         
        </span>
        <span class="app-brand-text demo menu-text fw-bold ms-2">Loan Manager</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboards -->
      <li class="menu-item">
        <a [routerLink]="'/dashboard'" routerLinkActive="router-link-active"  class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-smile"></i>
          <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>
        </a>
        <ul class="menu-item">
          <li class="menu-item">
            <a [routerLink]="'/loans'" routerLinkActive="router-link-active" class="menu-link">
              <i class="menu-icon tf-icons bx bx-sitemap"></i>
              <div class="text-truncate" data-i18n="loans">Loans</div>
            </a>
          </li>
          <li class="menu-item">
            <a [routerLink]="'/customers'" routerLinkActive="router-link-active" class="menu-link">
              <i class="menu-icon tf-icons bx bxs-user-detail"></i>
              <div class="text-truncate" data-i18n="CRM">Customers</div>
            </a>
          </li>
          <li class="menu-item">
            <a [routerLink]="'/payments'" routerLinkActive="router-link-active" class="menu-link">
              <i class='menu-icon tf-icons bx bxs-wallet-alt'></i>
              <div class="text-truncate" data-i18n="eCommerce">Payments</div>
            </a>
          </li>
          <li class="menu-item">
            <a [routerLink]="'/invoices'" routerLinkActive="router-link-active" class="menu-link">
              <i class='menu-icon tf-icons bx bx-abacus'></i>
              <div class="text-truncate" data-i18n="Logistics">Invoices</div>
            </a>
          </li>
          <li class="menu-item">
            <a [routerLink]="'/loan-types'" routerLinkActive="router-link-active" class="menu-link">
              <i class='menu-icon tf-icons bx bx-detail'></i>
              <div class="text-truncate" data-i18n="Academy">Loans-Plan</div>
            </a>
          </li>
          <li class="menu-item">
            <a [routerLink]="'/reports'" routerLinkActive="router-link-active" class="menu-link">
              <i class='menu-icon tf-icons bx bx-collection'></i>
              <div class="text-truncate" data-i18n="Logistics">Reports</div>
            </a>
          </li>
          <li class="menu-item">
            <a [routerLink]="'/settings'" routerLinkActive="router-link-active" class="menu-link">
              <i class='menu-icon tf-icons bx bx-cog'></i>
              <div class="text-truncate" data-i18n="Logistics">Settings </div>
            </a>
          </li>
        </ul>
      </li>
      <!-- Apps & Pages -->
      <li>
        <span></span>
      </li>

 

  

      <!-- Forms & Tables -->
      <li>
        <span></span>
      </li>
      <!-- Forms -->
     
      <!-- Misc -->
      <li>
        <span></span>
      </li>
    
    </ul>
  </aside>