<div class="row">
    <div class="col-sm-12 col-md-6 d-flex">
    <h1>Customer Details&nbsp;&nbsp;&nbsp;&nbsp;</h1> 
</div>
<div class="card p-4 ml-4">
    <table>
        <tr class="p-2">
            <td class="p-2">CustomerId</td>
            <td>{{customerdetails._id}}</td>
        </tr>
        <tr class="p-2">
            <td class="p-2">First Name</td>
            <td>{{customerdetails.firstName}}</td>
        </tr>
        <tr class="p-2"> 
            <td class="p-2">Last Name</td>
            <td>{{customerdetails.lastName}}</td>
        </tr>
        <tr class="p-2"> 
            <td class="p-2">Date of Birth</td>
            <td>{{customerdetails.dob}}</td>
        </tr>
        <tr class="p-2"> 
            <td class="p-2">Phone</td>
            <td>{{customerdetails.phoneNumber}}</td>
        </tr>
        <tr class="p-2"> 
            <td class="p-2">Email Address</td>
            <td>{{customerdetails.emailAddress}}</td>
        </tr>
        <tr class="p-2"> 
            <td class="p-2">Home Address</td>
            <td>{{customerdetails.homeAddress}}</td>
        </tr>
        <tr class="p-2"> 
            <td class="p-2">Work Address</td>
            <td>{{customerdetails.workAddress}}</td>
        </tr>     
</table>
</div>
