<div class="card mb-6">
    <h5 class="card-header">Add Customer</h5>
    <div class="card-body">
      <div class="mb-4 row">
        <label for="html5-text-input" class="col-md-2 col-form-label">FirtName</label>
        <div class="col-md-10">
          <input class="form-control" type="text" value="" id="html5-text-input" />
        </div>
      </div>
      <div class="mb-4 row">
        <label for="html5-search-input" class="col-md-2 col-form-label">LastName</label>
        <div class="col-md-10">
          <input class="form-control" type="text" value="" id="html5-search-input" />
        </div>
      </div>
      <div class="mb-4 row">
        <label for="html5-email-input" class="col-md-2 col-form-label">Email</label>
        <div class="col-md-10">
          <input class="form-control" type="email" value="" id="html5-email-input" />
        </div>
      </div>
      <div class="mb-4 row">
        <label for="html5-tel-input" class="col-md-2 col-form-label">Phone Number</label>
        <div class="col-md-10">
          <input class="form-control" type="tel" value="" id="html5-tel-input" />
        </div>
      </div>
      <div class="mb-4 row">
        <label for="html5-date-input" class="col-md-2 col-form-label">Date of Birth</label>
        <div class="col-md-10">
          <input class="form-control" type="date" value="" id="html5-datetime-local-input" />
        </div>
      </div>
      <div class="mb-4 row">
        <label for="html5-password-input" class="col-md-2 col-form-label">Home Address</label>
        <div class="col-md-10">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>
      </div>
      <div class="mb-4 row">
        <label for="html5-number-input" class="col-md-2 col-form-label">Work Address</label>
        <div class="col-md-10">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>
      </div>
      <div class="mb-4 row">
        <div class="col-md-10">
            <button type="submit" class="btn btn-primary">Edit</button> &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Cancel</button>
        </div>
    </div>
    </div>
  </div>